.list-card.js-member-droppable.ui-droppable:after {
  content: '100 Tokens';
  position: relative;
  bottom: 4px;
  left: 2px;
  color: #6b778c;
  z-index: 1;
  display: block;
  padding-left: 10px;
}
